body{
 margin: 0 ;
padding: auto 0;
box-sizing: border-box;
background: rgb(230,240,240);
background: linear-gradient(90deg, rgba(230,240,240,1) 3%, rgba(143,222,230,1) 97%);}
.s11{
 display: flex;

}
.s1
{
 display: flex;
 justify-content: space-between;
 padding: 10px 20px;
 font-size: 37px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 color: blue;

}
.s{
  max-width: 100%;
  height: auto;
  width: 2px;
  
}
 

.s2{
  width: 200px;
  height: 200px;
  padding: 26px 16px;
  background-color: slategray ;
  border: 1px solid #333; 
  border-radius: 15px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.s3{
  height: auto;
  width: auto;
  border-radius: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  &:active{
  background-color: white;
  color: black;
  }
  &:hover{
   color: blue;
  }
}
#loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
  }
  
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color:black;
    float: right;
    font-size: 28px;
    font-weight: bolder;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  @media (max-width: 600px) {
    /* Mobil ekranda joylashuv va uslublar */
    .foo {
      flex-direction: column;
    }
    
    .s11{
   display: grid;
   gap: 20px;
   margin-left: 30px;
    }
  
    .goo {
      margin-top: 20px;
    }
  }
  @media (max-width: 600px) {
    /* Modal oynani to'rtburchak shaklida joylash */
    .modal-content {
      width: 35%;
      height: 35%;
    }
  }
  @media  (min-width: 600px) {
    .s2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 100px;
    }

    .s2 img {
      width: 100%;
      height: auto;
      max-width: 105px;
      max-height: 135px;
      object-fit: cover;
    }

    .s2 h3 {
      margin-top: 5px;
      font-size: 16px;
    }
  }
  @media  (max-width: 600px) {
    /* header */
    .s1 {
      font-size: 24px;
    }
  
    /* Rasm o'lchami */
    .s2 img {
      width: 100px;
      height: 100px;
    }
  
    /* Modal o'lchami */
    .modal-content {
      width: 80%;
    }
  }
  @media  (max-width:290px) {
    .s1{
      
      font-size: 20px;
    }
    .s2{
    width: 75px;
    height: 75px;

    }
  }
  /* Rasmning o'lchamini responsiv qilish */
img {
    max-width: 100%;
    height: auto;
  }